# pip install pip-tools
# Compile pinned requirements.txt with pip-compile requirements.in
# Install pinned dependencies with: pip-sync requirements.txt
pip-tools
pytest
pytest-playwright
pytest-html
pytest-rerunfailures
python-dotenv
pydantic
playwright
httpx
pytest-asyncio
pytest-xdist
allure-pytest